@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i,800');

.h5.card-title {
    font-size: 50px;
    padding: 80px;
    background-color: #1a6f1d;
    max-width: 400px;
    margin: 60px auto;
    color: white;
    cursor: pointer;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}
.card-body{
    margin-top: -120px;
}
.img {
    max-width: 50px;
}
button {
    padding: 30px 40px!important;
}
.margin-auto {
    margin: auto;
}
.filterBtns {
    padding: 20px!important;
}
.floatRight {
    float: right;
}
.hi {
    width: 100%;
}